// colores
$color-primary: #22c55e;   // verde principal
$color-primary-hover: #15803d;
$background-color: #f3f4f6;
$text-color: #111827;

// tipografía
$font-size-title: 2rem;
$font-weight-bold: 700;

// espaciado
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;

// bordes
$border-radius: 0.375rem;
